@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#logo3{
    width: 12rem;
}
.container{
  max-width: 1170px;
  margin:auto;
  background-color: #000;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 4rem 0;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 2rem 0;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:7.5rem;
  bottom: -0.5rem;
  background-color: red;
  height: 0.15rem;
  box-sizing: border-box;
  width: 3rem;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 0.9rem;
  /* text-transform: capitalize; */
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.go_top {
    line-height:2.5rem;
    cursor:pointer;
    width:2.5rem;
    background:#5867dd;
    color:#fff;
    /* position:fixed; */
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    right:-webkit-calc((100% - 1140px)/ 2);
    right:calc((100% - 1140px)/ 2);
    z-index:111;
    bottom:12rem;
    text-align:center;
   }
   .go_top span {
    display:inline-block;
   }
   

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer-col h4::before{
    margin-left: 2.5rem;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}   
    .footer{
    background:#000;
    padding:1rem 0;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
        display: flex;
        align-items: center;
        justify-content: center;
    width:100%;
    margin:4% 0% 2% 0%;
    color:gray;
    font-size:1 rem;
    }
    
    @media (max-width:720px){
    .footer{
    padding:5%;
    }
    }