#header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
  }
  #black_logo{
    width: 8rem;
    /* margin-bottom: 1.5rem; */
  }
  #navbar{
    text-decoration: none;
    list-style-type: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

   li a:hover {
    font-size: 105%;
  } 
  
  .active {
    background-color: #3457D5;
  }